vente.ws/src/test/resources/dtd/vente.dtd

<!ELEMENT dataset (
    user*,
    shop*
    )>


<!ELEMENT user EMPTY>
<!ATTLIST user
    id CDATA #REQUIRED
    username CDATA #IMPLIED
    password CDATA #IMPLIED
    name CDATA #REQUIRED
    email CDATA #IMPLIED
    tel CDATA #IMPLIED
    address CDATA #IMPLIED
    create_date CDATA #IMPLIED
    update_date CDATA #IMPLIED
    shop_id CDATA #IMPLIED
>

<!ELEMENT shop EMPTY>
<!ATTLIST shop
    id CDATA #REQUIRED
    name CDATA #IMPLIED
    description CDATA #IMPLIED
>
