vente.logic/src/test/resources/dtd/vente.dtd

<!ELEMENT dataset (
    user*,
    branch*,
    role*
    )>


<!ELEMENT user EMPTY>
<!ATTLIST user
    id CDATA #REQUIRED
    username CDATA #IMPLIED
    password CDATA #IMPLIED
    phone CDATA #REQUIRED
    firstname CDATA #IMPLIED
    lastname CDATA #IMPLIED
    address CDATA #IMPLIED
    email CDATA #IMPLIED
    is_active CDATA #IMPLIED
    birth_day CDATA #IMPLIED
    date CDATA #IMPLIED
    base_salary CDATA #IMPLIED
    branch_id CDATA #IMPLIED
    role_id CDATA #IMPLIED
>

<!ELEMENT branch EMPTY>
<!ATTLIST branch
    id CDATA #REQUIRED
    name CDATA #IMPLIED
    label CDATA #IMPLIED
    address CDATA #IMPLIED
    date CDATA #IMPLIED
>

<!ELEMENT role EMPTY>
<!ATTLIST role
    id CDATA #REQUIRED
    name CDATA #IMPLIED
    label CDATA #IMPLIED
    description CDATA #IMPLIED
>
